<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
             <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
		</encoder>
	</appender>
	
	<springProfile name="dev">

 	   <root level="INFO">
 			<appender-ref ref="CONSOLE" />
 			<appender-ref ref="FILE" />
 	   </root>
 
 	   <logger name="org.apache.commons.jexl2" level="OFF"/>
 	   <logger name="org.hibernate.mapping.RootClass" level="OFF"/>
 	   
 	</springProfile>
 	
 	<springProfile name="sit">
 
 	   <root level="INFO">
 			<appender-ref ref="CONSOLE" />
 			<appender-ref ref="FILE" />
 	   </root>

	   <logger name="org.apache.commons.jexl2" level="OFF"/>
 	   <logger name="org.hibernate.mapping.RootClass" level="OFF"/>
 	   
	</springProfile>
	
	<springProfile name="uat">
 
 	   <root level="INFO">
 			<appender-ref ref="CONSOLE" />
 			<appender-ref ref="FILE" />
 	   </root>

	   <logger name="org.apache.commons.jexl2" level="OFF"/>
 	   <logger name="org.hibernate.mapping.RootClass" level="OFF"/>
 	   
	</springProfile>
	
		<springProfile name="prod">
 
 	   <root level="INFO">
 			<appender-ref ref="CONSOLE" />
 			<appender-ref ref="FILE" />
 	   </root>

	   <logger name="org.apache.commons.jexl2" level="OFF"/>
 	   <logger name="org.hibernate.mapping.RootClass" level="OFF"/>
 	   
	</springProfile>
	
			<springProfile name="local">
 
 	   <root level="INFO">
 			<appender-ref ref="CONSOLE" />
 			<appender-ref ref="FILE" />
 	   </root>

	   <logger name="org.apache.commons.jexl2" level="OFF"/>
 	   <logger name="org.hibernate.mapping.RootClass" level="OFF"/>
 	   
	</springProfile>
	
</configuration>
